body{ font-family: Poppins ;}
h1{
    font-family: Forque;
    text-align: center;
}

h2{
    text-align: center;
}

p{
    text-align: center;
}

.container{
    text-align: center;
}

.switch input {
    position: absolute;
    opacity: 0;
}

.switch {
    display: inline-block;
    font-size: 20px; /* 1 */
    height: 1.5em;
    width: 3em;
    background: white;
    border-radius: 1em;
}

.switch div {
    height: 1.5em;
    width: 1.5em;
    border-radius: 2em;
    background: #333333;
    box-shadow: 0 0.1em 0.3em rgba(0,0,0,0.3);
    -webkit-transition: all 300ms;
        -moz-transition: all 300ms;
            transition: all 300ms;
}

.switch input:checked + div {
    background: yellow;
    box-shadow: 0 0.1em 0.3em rgba(0,0,0,0.3);
    -webkit-transform: translate3d(100%, 0, 0);
        -moz-transform: translate3d(100%, 0, 0);
            transform: translate3d(100%, 0, 0);
}

.accordion{
    border-radius: 0px;
    background: #333333;
    color: #ffffff;
}
/*
light mode
*/

.light{
    background-color: whitesmoke;
}

.light h1{
    color: #333333;
}

/*
dark mode
*/

.dark{
    background-color: #333333;
}

.dark h1{
    color: yellow;
}

.dark #interactive{
    color: yellow;
}