<!DOCTYPE html>
<html lang="en">
        {% load static%}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    
    <title>Story Sephen</title>
</head>
<body class="light">
    <div class="container d-flex flex-column">
        <br>
        <h1>Stephen Handiar Christian</h1>
        <br>
            <button class="accordion btn data-header border-bottom" data-toggle="collapse" id="act">Activities</button>
            <div id="actExplain" style="display: none;background: white;"> 
                <br>
                <p> belajar sama ngerjain tugas abis itu tidur deh</p></div>
            
            <button class="accordion btn data-header border-bottom" data-toggle="collapse" id="exp">Experiences</button>
            <div id="expExplain" style="display: none;background: white;">
                <br>
                <p>OKK UI 2019: Staff of Acara Puncak</p>
                <p>Wisuda Genap Fasilkom UI 2019: staff of Documentation</p>
                <p>UI Ethnovaganza 2019: staf of Design</p>
            </div>

            <button class="accordion btn data-header border-bottom" data-toggle="collapse" id="ach">Achievement</button>
            <div id="achExplain" style="display: none;background: white;">
                <br>
                <p>juara satu sekelas 5 kali di sd</p>
            </div>

            <br>
            <p id="interactive">Yuk coba ganti background<br></p>
            <div class="container">
                <label id="cb" class="switch"><input type="checkbox"><div></div></label>
            </div>
    </div>
    <script src="{% static 'js/mode.js' %}" type="text/javascript"></script>
    <script src="{% static 'js/animation.js' %}" type="text/javascript"></script>
</body>
</html>